/* --------- Overall style */

.container {
    font-family: 'Darumadrop One', cursive;
    text-align: center;
    width: 100vw;
    height: 100vh;
    background: url("../images/new-york.jpg");
    background-size: cover;

}