/* --------- Overall style */

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Darumadrop One', cursive;
    text-align: center;

}

#page-container {

    width: 100vw;
    background: url("../images/new-york.jpg");
    background-size: cover;
    position: relative;
    min-height: 100vh;

}


/* --------- Main heading */

.game-title {
    font-family: 'Permanent Marker', cursive;
    font-size: 55px;
    color: #F3C5DF;
    font-weight: 600;
    padding-top: 50px;


}

/* --------- Quiz area layout */

.quiz-area {
    width: 80%;
    max-width: 600px;
    margin: 60px auto 0;
    border-radius: 20px;
    padding: 30px;
    background-color: rgb(223, 220, 239, .4);

}

h2 {
    font-family: 'Darumadrop One', cursive;
    font-size: 28px;
    font-weight: 600;
}

/* --------- Buttons */

.btn {
    background: rgb(223, 220, 239, .4);
    font-family: 'Darumadrop One', cursive;
    font-size: 20px;
    width: 100%;
    border: 1px solid;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

/* --------- hide the hover effect when users select the button */

.btn:hover:not([disabled]) {
    background: rgb(223, 220, 239, .9);
    color: #487FC0;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
}

/* --------- prevent the users from selecting other options */
.btn:disabled {
    cursor: no-drop;
}

#btn-next {
    background: #F3C5DF;
    color: white;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;

}

#btn-next:hover {
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
}


/* --------- Correct and incorrect selection */

.correct {
    background: #1FA573;
}

.incorrect {
    background: #F7171B;
}


/* music player */
#audio-container {

    text-align: center;
    margin-top: 20px;
    position: flex;
    color: #FFFFFF;

}

#audio-container p {
    font-size: 26px;
    padding: 20px;

}

/* footer */

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 8.5rem;
    text-align: center;
    font-size: 20px;
}

.social-media {
    margin: 15px;
}

.social-media>li {
    display: inline;
}

.social-media i {
    font-size: 150%;
    margin: 1px;
    padding: 20px;
    color: #3a3a3a;
}


/* media queries */