/* --------- Overall app style */

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Darumadrop One', cursive;
    text-align: center;
}

/* --------- Page wrapper */

#page-container {
    width: 100vw;
    background: url("../images/new-york.jpg");
    background-size: cover;
    position: relative;
    min-height: 100vh;

}

/* --------- Main heading */

.game-title {
    font-family: 'Permanent Marker', cursive;
    font-size: 55px;
    color: #F3C5DF;
    font-weight: 600;
    padding-top: 50px;
}

/* --------- Quiz area layout */

.quiz-area {
    width: 80%;
    max-width: 600px;
    margin: 60px auto 0;
    border-radius: 20px;
    padding: 30px;
    background-color: rgb(223, 220, 239, .5);

}

h2 {
    font-family: 'Darumadrop One', cursive;
    font-size: 28px;
    font-weight: 600;
}

/* --------- Answer buttons */

.btn {
    background: rgb(223, 220, 239, .8);
    font-family: 'Darumadrop One', cursive;
    font-size: 20px;
    width: 100%;
    border: 1px solid;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

/* --------- hover effect hidden when users select the button */

.btn:hover:not([disabled]) {
    background: rgb(223, 220, 239, .9);
    color: #487FC0;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
}

/* --------- prevent the users from selecting other options */

.btn:disabled {
    cursor: no-drop;
}

/* --------- Next button */

#btn-next {
    background: #F3C5DF;
    color: white;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

#btn-next:hover {
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
}

/* --------- Correct and incorrect selection */

.correct {
    background: #1FA573;
}

.incorrect {
    background: #F7171B;
}

/* Footer area */

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 14.5rem;
    text-align: center;
    font-size: 20px;
}

/* music player */

#audio-container p {
    font-size: 24px;
    padding: 20px;
}

.social-media {
    margin: 15px;
}

.social-media>li {
    display: inline;
}

.social-media i {
    font-size: 150%;
    margin: 1px;
    padding: 20px;
    color: #3a3a3a;
}

/* media queries */

/* For larger to medium screens size from 1200px wide and down */

@media screen and (max-width: 1100px) {
    .game-title {
        font-size: 35px;
    }

    .quiz-area {
        width: 80%;
        max-width: 800px;
        margin-top: 10px;
    }

    h2 {
        font-size: 20px;
    }

    .btn {
        font-size: 16px;
    }

    #btn-next {

        width: 80px;
    }

    #footer {
        font-size: 12px;
        height: 11.5rem;

    }

    #audio-container p {
        font-size: 16px;
        padding: 2px;
        margin-top: 40px;

    }

    .social-media {
        margin-top: -10px;
    }

    /* For medium screen sizes from 623px wide and down */

    @media (max-width: 623px) {
        .game-title {
            font-size: 35px;
        }

        .quiz-area {
            width: 60%;
            max-width: 400px;
        }

        h2 {
            font-size: 22px;
            font-weight: 300;
        }

        .btn {
            font-size: 16px;
        }

        #btn-next {

            width: 100px;
        }

        #footer {
            font-size: 18px;
        }

        #audio-container p {
            font-size: 20px;

        }

        audio {
            width: 60%;
        }
    }

    /* For smaller screen sizes from 540px wide and down */

    @media (max-width: 540px) {

        .game-title {
            font-size: 30px;
        }

        .quiz-area {
            width: 50%;
            max-width: 300px;
        }

        h2 {
            font-size: 18px;
            font-weight: 200;
        }

        .btn {
            font-size: 16px;
        }

        #btn-next {

            width: 80px;
        }

        #footer {
            height: 12.5rem;
            font-size: 12px;
        }

        #audio-container p {
            font-size: 18px;
        }
    }

    /* For smaller screen sizes from 280px wide and down */
    @media (max-width: 280px) {

        .game-title {
            font-size: 24px;
        }

        .quiz-area {
            width: 55%;

        }

        h2 {
            font-size: 16px;
            font-weight: 100;
        }

        .btn {
            font-size: 14px;
        }

        #btn-next {

            font-size: 12px;
        }

        #footer {

            font-size: 12px;
        }

        #audio-container p {
            font-size: 16px;
        }
    }
}